{% extends 'layout/base.html' %}

{% load static %}

{% block user %}
{% include 'components/userpanel.html'%}
{% endblock %}

{% block header %}
<div class="d-flex gap-3 align-items-center">
    <h1>Question</h1>
</div>
{% endblock %}

{% block content %}
<div class="col-9">
    <div class="d-flex flex-column gap-1">
        <div class="card mb-2">
            <div class="card w-100" style="width: 18rem; height: 300px">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="border mb-2" style="height: 200px">
                                <img src="card1.jpg" alt="card1" class="img-fluid"/>
                            </div>
                        </div>
                        <div class="col-9">
                            <h3 class="card-title">{{question.title}}</h3>
                            <p class="card-text">
                                {{question.text}}
                            </p>


                            <div class="d-flex gap-1">
                                {% include 'components/tags.html'%}
                            </div>

                            <div class="d-flex mt-3 align-items-center">
                                <button
                                        type="button"
                                        class="btn btn-outline-primary btn-sm"
                                >
                                    <i class="bi bi-hand-thumbs-up"></i> Like
                                </button>
                                <span class="ms-2">{{ question.likes.count }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for answers in answers %}
        {% include 'components/userans.html' %}
        {% endfor %}

        {% include 'components/answerpaginator.html' %}

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Enter your answer here:</h5>
                <form>
                    <div class="mb-3">
                    <textarea
                            class="form-control"
                            rows="4"
                            placeholder="Type your answer..."
                    ></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}