{% extends 'layout/base.html' %}

{% load static %}


{% block user %}
{% include 'components/userpanel.html'%}
{% endblock %}

{% block header %}
 <div class="d-flex gap-3 align-items-center">
        <h1>Editing a profile</h1>
 </div>
{% endblock %}


{% block content %}
<div class="row">
        <div class="col-9">
            <form class="was-validated col-6">
                <div class="mb-3">
                    <label class="form-label">Login</label>
                    <input
                            class="form-control"
                            type="text"
                            id="login"
                            name="Login"
                            placeholder="Dr.Pepper"
                            required
                    />
                    <div class="invalid-feedback">Please enter new login or ignore this field</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input
                            class="form-control"
                            type="text"
                            id="email"
                            name="Email"
                            placeholder="dr.pepper@example.com"
                            required
                    />
                    <div class="invalid-feedback">Please enter new email or ignore this field</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">NickName</label>
                    <input
                            class="form-control"
                            type="text"
                            id="nickName"
                            name="NickName"
                            placeholder="Pepper"
                            required
                    />
                    <div class="invalid-feedback">Please enter new NickName or ignore this field</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Upload avatar</label>
                    <input
                            type="file"
                            class="form-control"
                            aria-label="file example"
                            placeholder="avatar.jpg"
                            required
                    />
                    <div class="invalid-feedback">Please choose a file or ignore this field</div>
                </div>

                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
{% endblock %}