{% extends 'layout/base.html' %}

{% load static %}

{% block header %}
 <div class="d-flex gap-3 align-items-center">
        <h1>New Questions</h1>
        <a href="#">Hot Questions</a>
 </div>
{% endblock %}


{% block content %}
<div class="row">
        <div class="col-9">
            <form class="was-validated col-6">
                <div class="mb-3">
                    <label class="form-label">Login</label>
                    <input
                            class="form-control"
                            type="text"
                            id="login"
                            name="Login"
                            placeholder="Dr.Pepper"
                            required
                    />
                    <div class="invalid-feedback">Please enter a login</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input
                            class="form-control"
                            type="text"
                            id="email"
                            name="Email"
                            placeholder="dr.pepper@example.com"
                            required
                    />
                    <div class="invalid-feedback">Please enter an email</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">NickName</label>
                    <input
                            class="form-control"
                            type="text"
                            id="nickName"
                            name="NickName"
                            placeholder="Pepper"
                            required
                    />
                    <div class="invalid-feedback">Please enter an NickName</div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input
                            class="form-control"
                            type="text"
                            id="password"
                            name="Password"
                            placeholder="*******"
                            required
                    />
                    <div class="invalid-feedback">Please enter an password</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Repeat password</label>
                    <input
                            class="form-control"
                            type="text"
                            id="reapeatenPassword"
                            name="Repeat Password"
                            placeholder="*******"
                            required
                    />
                    <div class="invalid-feedback">Please repeat a password</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Upload avatar</label>
                    <input
                            type="file"
                            class="form-control"
                            aria-label="file example"
                            placeholder="avatar.jpg"
                            required
                    />
                    <div class="invalid-feedback">Please choose a file</div>
                </div>

                <button type="submit" class="btn btn-primary">Register!</button>
            </form>
        </div>
    </div>
{% endblock %}